<div>
  <div>
  <h1 style="text-align:center; background-color:grey; opacity:0.65"><br>&nbsp;&nbsp;{{ result }}&nbsp;&nbsp;<br><br></h1></div>
  <div>
    <a (click)="rollUD()" class="button fancy-button"><i class="material-icons">restaurant</i>{{ locName1 }}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a (click)="rollBvck()" class="button fancy-button"><i class="material-icons">local_dining</i>{{ locName2 }}</a>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
